<div id="testimony">  
  <div class="container">
    <h3 class="text-center">TESTIMONIES</h3>
    <hr>
  </div>

  <div class="testimony-carousel owl-carousel owl-theme"> 
    <div class="item text-center"> 
      <h4 style=" color: #B79F78;"> I never imagined that my wedding will be so Great, Thanks...</h4>
      <p><i class="fa fa-twitter fa-fw"></i> Doe</p>
    </div>
    <div class="item text-center"> 
      <h4 style=" color: #B79F78;"> I recommend you guys to anyone who wants to have boredom free Ocassion...</h4>
      <p><i class="fa fa-twitter fa-fw"></i>John Smith</p>
    </div>
    <div class="item text-center"> 
      <h4 style=" color: #B79F78;"> You guys are simply the Best...</h4>
      <p><i class="fa fa-twitter fa-fw"></i>Mike Williams</p>
    </div>
    <div class="item text-center"> 
      <h4 style=" color: #B79F78;"> My invitees and I had a great time with your being around...really appreciate.</h4>
      <p><i class="fa fa-twitter fa-fw"></i>Gen Gates</p>
    </div>
    <div class="item text-center"> 
      <h4 style=" color: #B79F78;"> Can't stop laving...that is how it feels</h4>
      <p><i class="fa fa-twitter fa-fw"></i>Mark Henry</p>
    </div>
  </div>
</div>