<div id="wrapper">
    <div id="gallery-showcase" class="owl-carousel owl-theme img-responsive">
        <div class="item">
            <img src="assets/images/gallery/1.jpg" alt="" class="gallery-carousel-img">
            <p class="text-center">Some funny joke...</p>
        </div>

        <div class="item">
            <img src="assets/images/gallery/2.jpg" alt="" class="gallery-carousel-img">
            <p class="text-center">Some very funny joke ...lala</p>
        </div>

        <div class="item">
            <img src="assets/images/gallery/Background for YouTube Video.jpg" alt="" class="gallery-carousel-img">
            <p class="text-center">Joke that is very funny...lol</p>
        </div>

        <div class="item">
            <img src="assets/images/gallery/Hero Image Uncropped.jpeg" alt="" class="gallery-carousel-img">
            <p class="text-center">I wan laugh die ooo.....haha</p>
        </div>
    </div>

    <div class="container">
        <div id="gallery-images" class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/Blog 1 (Feature) 1165 x 665.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/Blog 1 Body Image (1165 x 665).jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/Blog 3 Feature Image (1165 x 665).jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/camels.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 clearfix column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/image.JPEG" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/stare into distance 600x400.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/Hero Image 1800 x 1000.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>Night of a thousand</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/retired.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>Night of a thousand Laugh</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/retired.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>Night of a thousand Laugh</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/camels.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span> 2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/events.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span> 2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/footer.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span> 2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

</div><!-- end of wrapper -->

<div id="image-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <img ng-src="" alt="picture">
            </div>

            <div class="modal-footer">
                <span class="pull-left">
                    <i class="fa fa-star fa-fw pull-left"></i><p class="pull-left"></p>
                </span>
                <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
            </div>
            
        </div>
    </div>
</div>










