

<div class="thumbnail">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://youtu.be/KhzGSHNhnbI" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="caption">
    <h4 class="text-center" style="color: #2C61EA">Video of the week</h4>
    <p style="margin-bottom: 20px;" class="text-center"> <span style="color: green" class="fa fa-thumbs-up fa-fw"></span> Likes <span style="color: #2C61EA">321</span> <span class="fa fa-thumbs-down fa-fw" style="margin-left: 10px; color: red;"></span> Hates <span style="color: #2C61EA">14</span></p>
    <div class="row">
       
      <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <a href="#" class="btn btn-primary btn-sm" role="button"> 
          <span class="fa fa-pencil fa-fw"></span>
          Comments
        </a>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="btn-group">
          <button style="margin-left: 20px"  type="button" class="btn btn-default btn-sm"> <span class="fa fa-cloud-download fa-fw"></span> Download</button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">720p</a></li>
            <li><a href="#">480p</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


