<div id="home">    
    <div id="sidebar">
        <ul class="list-group">
            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>

            <li class="list-group-item">
                Monday Dashboard
            </li>
        </ul>
    </div>

    <div class="container">
        <div id="gallery-images" class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/Blog 1 (Feature) 1165 x 665.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/Blog 1 Body Image (1165 x 665).jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/Blog 3 Feature Image (1165 x 665).jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/camels.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 clearfix column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/image.JPEG" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/stare into distance 600x400.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/Hero Image 1800 x 1000.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>Night of a thousand</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/retired.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>Night of a thousand Laugh</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/retired.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span>Night of a thousand Laugh</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/camels.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span> 2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/events.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span> 2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 column">
                <div class="thumbnail">
                    <img src="assets/images/gallery/footer.jpg" alt="">
                    <p class="caption">
                        <i class="fa fa-star fa-fw"></i>
                        <span> 2017 Lagos Carnival</span>
                        <a class="btn btn-primary btn-xs pull-right" href="#image-modal" data-toggle="modal"><i class="fa fa-eye fa-fw"></i>view</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    
</div>
