<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">
        ARCHIVE VIDEOS
      </h3>
    </div>

    <div class="panel-body list-group">
      <li class="list-group-item text-lowercase"><i class="fa fa-folder fa-fw"></i> JANUARY <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> FEBRUARY <span class="badge">465</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> MARCH <span class="badge">454k</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> APRIL <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> MAY <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> JUNE <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> JULY <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> AUGUST <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> SEPTEMBER <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> OCTOBER <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> SEPTEMBER <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> OCTOBER <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> NOVEMBER <span class="badge">23</span></li>
      <li class="list-group-item text-lowercase"> <i class="fa fa-folder fa-fw"></i> DECEMBER <span class="badge">23</span></li>
    </div>
  </div>