i {
    color: yellowgreen;
}

#clients {
    padding: 200px 0 150px 0;
}

#clients .item{
    padding: 50px 0 50px 0;
}


hr {
    margin-bottom: 40px;
    margin-top: 0px !important;
    width: 100px;
    border : 1px solid #75A6F0;
    border-radius: 50% !important;
    color: #75A6F0 !important;
}


