
<div id="event_body">

  <div id="event_showcase">
    <h3 class="text-center">Here are our events</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 clearfix">
        <div class="thumbnail">
          <img src="assets/images/event.jpg" alt="event showcase image">
          <div class="caption">
            <h3 class="text-center">Humor Easter Fiesta</h3>
            <hr>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Host</strong>
                <span>Johngorithm Obi</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Venue</strong>
                <span>4, Isaac Jones Street, Ikeja, Lagos Nigeria</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Date</strong>
                <span>Wed, 5th July, 2017</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Starting time</strong>
                <span>12 noon</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 clearfix">
        <div class="thumbnail">
          <img src="assets/images/event.jpg" alt="event showcase image">
          <div class="caption">
            <h3 class="text-center">Humor Easter Fiesta</h3>
            <hr>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Host</strong>
                <span>Johngorithm Obi</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Venue</strong>
                <span>4, Isaac Jones Street, Ikeja, Lagos Nigeria</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Date</strong>
                <span>Wed, 5th July, 2017</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Starting time</strong>
                <span>12 noon</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 clearfix">
        <div class="thumbnail">
          <img src="assets/images/event.jpg" alt="event showcase image">
          <div class="caption">
            <h3 class="text-center">Humor Easter Fiesta</h3>
            <hr>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Host</strong>
                <span>Johngorithm Obi</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Venue</strong>
                <span>4, Isaac Jones Street, Ikeja, Lagos Nigeria</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Date</strong>
                <span>Wed, 5th July, 2017</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Starting time</strong>
                <span>12 noon</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 clearfix">
        <div class="thumbnail">
          <img src="assets/images/event.jpg" alt="event showcase image">
          <div class="caption">
            <h3 class="text-center">Humor Easter Fiesta</h3>
            <hr>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Host</strong>
                <span>Johngorithm Obi</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Venue</strong>
                <span>4, Isaac Jones Street, Ikeja, Lagos Nigeria</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Date</strong>
                <span>Wed, 5th July, 2017</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Starting time</strong>
                <span>12 noon</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 clear-fix">
        <div class="thumbnail">
          <img src="assets/images/event.jpg" alt="event showcase image">
          <div class="caption">
            <h3 class="text-center">Humor Easter Fiesta</h3>
            <hr>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Host</strong>
                <span>Johngorithm Obi</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Venue</strong>
                <span>4, Isaac Jones Street, Ikeja, Lagos Nigeria</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12">
                <strong>Date</strong>
                <span>Wed, 5th July, 2017</span>
              </div>

              <div class="col-md-6 col-sm-12">
                <strong>Starting time</strong>
                <span>12 noon</span>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>