<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <h3 class="text-center">OUR SERVICES</h3>
        <hr class="hr">
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="thumbnail">
          <h4 class="text-center">Dramatization</h4>
          <img class="img-responsive center-block" src="/assets/images/event.jpg" alt="service picture">
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="thumbnail">
          <h4 class="text-center">Film Acting</h4>
          <img class="img-responsive center-block" src="/assets/images/event.jpg" alt="service picture">
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="thumbnail">
          <h4 class="text-center">MC/Presentation</h4>
          <img class="img-responsive center-block" src="/assets/images/event.jpg" alt="service picture">
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="thumbnail">
          <h4 class="text-center">Comedy</h4>
          <img class="img-responsive center-block" src="/assets/images/event.jpg" alt="service picture">
        </div>
      </div>
    </div>
  </div>
</div>
